@@*

<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
            <th scope="col">Handle</th>
            <th scope="col">Handle</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>mdo</td>
            <td>mdo</td>
            <td><a> <i class="fas fa-edit fa-5x"></i></a> </td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>Thornton</td>
            <td>Thornton</td>
            <td>fat</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>twitter</td>
            <td>twitter</td>
            <td>twitter</td>
        </tr>
    </tbody>
</table>*@@


             <div class="panel">
              <header class="panel-heading">
                <h3 class="panel-title">Loading Data by Page</h3>
                <div class="panel-actions">
                  <select id="pager" class="form-control">
                    <option>1</option>
                    <option selected>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                  </select>
                </div>
              </header>
              <div class="panel-body">
        <div id="exampleLoadingByPage">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                        <th scope="col">Handle</th>
                        <th scope="col">Handle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                     
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>mdo</td>
                        <td>mdo</td>
                        <td><a> <i class="fas fa-edit fa-5x"></i></a> </td>
                    </tr>
                 
                </tbody>
            </table>
        </div>
              </div>
            </div>