<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CARGOLINE</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="~/global/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/global/css/bootstrap-extend.min.css">
    <link rel="stylesheet" href="~/assets/css/site.min.css">

    <!-- Plugins -->
    <link rel="stylesheet" href="~/global/vendor/animsition/animsition.css">
    <link rel="stylesheet" href="~/global/vendor/asscrollable/asScrollable.css">
    <link rel="stylesheet" href="~/global/vendor/switchery/switchery.css">
    <link rel="stylesheet" href="~/global/vendor/intro-js/introjs.css">
    <link rel="stylesheet" href="~/global/vendor/slidepanel/slidePanel.css">
    <link rel="stylesheet" href="~/global/vendor/flag-icon-css/flag-icon.css">
    <link rel="stylesheet" href="~/global/vendor/chartist/chartist.css">
    <link rel="stylesheet" href="~/global/vendor/jvectormap/jquery-jvectormap.css">
    <link rel="stylesheet" href="~/global/vendor/chartist-plugin-tooltip/chartist-plugin-tooltip.css">
    <link rel="stylesheet" href="~/assets/examples/css/dashboard/v1.css">


    <!-- Fonts -->
    <link rel="stylesheet" href="~/global/fonts/weather-icons/weather-icons.css">
    <link rel="stylesheet" href="~/global/fonts/web-icons/web-icons.min.css">
    <link rel="stylesheet" href="~/global/fonts/brand-icons/brand-icons.min.css">
    <link href="~/css/mvc-grid/mvc-grid.css" rel="stylesheet" />
    <!-- Scripts -->

    <style>
        body {
            padding-top: 0px;
        }
        select {
            box-shadow: none;
            flex: 1;
            padding: 0 1.2em;
            color: rgb(255, 255, 255);
            background-color: #343a40 !important;
            cursor: pointer;
        }

        select::-ms-expand {
            display: none;
        }

        .combobox {
            position: relative;
            display: flex;
            width: 20em;
            height: 3em;
            border-radius: .25em;
            overflow: hidden;
            color: rgb(255, 0, 0);
        }

            .combobox::after {
                content: '\25BC';
                position: absolute;
                top: 0;
                right: 0;
                padding: 1em;
                background-color: #ffc107;
                transition: .25s all ease;
                pointer-events: none;
            }

            .combobox:hover::after {
                color: #f31212;
            }

        button,
        input,
        optgroup,
        select,
        textarea {
            margin: 1px !important
        }

            input.right {
                position: absolute;
                top: 2px;
                right: 224px;
                width: 170px;
                border-radius: 1px 1px 5px 20px;
            }

            input.buttonsclose {
                position: absolute;
                top: 2px;
                right: 41px;
                width: 150px;
                border-radius: 1px 1px 5px 20px;
            }

        .btn-danger {
            color: aliceblue;
        }

        /* .container {
                    grid-gap: 10px 10px;
                } */

        /* .cell-1 {
          grid-row: 2;
          grid-column: 3;
        } */

        /* .cell-3 {
          grid-row: 1;
          grid-column: 1/4;
        } */
        /* .cell-2 {
          grid-row: 2/4;
          grid-column: 1/3;
        } */
        .container {
            height: 100%;
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            /* display: contents; */
        }

        .cell {
            /*color: white;*/
            color: darkblue;
            font-size: 14px;
            text-align: center;
            padding: 6rem;
        }
        /* width */
        ::-webkit-scrollbar {
            width: 10px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: #888;
        }

            /* Handle on hover */
            ::-webkit-scrollbar-thumb:hover {
                background: #555;
            }

        .cell-1 {
            border: 1px solid deepskyblue;
        }

        .cell-2 {
            border: 1px solid orangered;
        }

        .cell-3 {
            border: 1px solid royalblue;
        }

        .cell-4 {
            border: 1px solid gold;
        }

        .cell-5 {
            border: 1px solid blueviolet;
        }

        .cell-6 {
            border: 1px solid limegreen;
        }

        .cell-7 {
            border: 1px solid coral;
        }

        .cell-8 {
            border: 1px solid lightseagreen;
        }

        .cell-9 {
            border: 1px solid maroon;
        }

        @@media screen and (max-width: 992px) {
            input.buttonsclose {
                width: 100px;
                background-color: #f31212;
            }

            input.right {
                position: absolute;
                top: 2px;
                right: 150px;
                width: 160px;
                border-radius: 1px 1px 5px 20px;
            }
        }

        @@media screen and (max-width: 868px) {
            input.buttonsclose {
                visibility: hidden;
            }

            input.right {
                position: absolute;
                top: 2px;
                right: 30px;
                width: 160px;
                border-radius: 1px 1px 5px 20px;
            }
        }
    </style>
</head>
<body class=" ">


    <!-- Page -->
    <div class="content">
        <div class="main">

            @RenderBody()
        </div>
    </div>
,    <!-- End Page -->
    <!-- Footer -->
    <footer class="site-footer">
        <div class="site-footer-legal">© 2022 <a href="">NETLINE</a></div>
        
    </footer>
    <!-- Core  -->
    <script src="~/sweetalert2-11.6.14/package/src/sweetalert2.js"></script>
    <script src="~/js/mvc-grid/mvc-grid.js"></script>
    <script>
        document.querySelectorAll(".mvc-grid").forEach(element => new MvcGrid(element));
    </script>
    <script type="text/javascript" src="~/js/site.js"></script>
</body>
</html>























@*<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Wms.Integration.UI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Wms.Integration.UI.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Wms.Integration.UI</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Wms.Integration.UI - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>*@