@{
    ViewData["Title"] = "Blok Tanımı";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/accordionmenu.css" rel="stylesheet" />


<div class="row center">

    <div class="col-sm-12 col-md-4 col-xl-2">
        <div class="example">
            <ul class="list-unstyled">
                <li class="mb-20">
                    <button type="button" class="btn btn-block btn-info">Ekle</button>
                </li>
            </ul>
        </div>
    </div>

    <div class="col-sm-12 col-md-4 col-xl-2">
        <div class="example">
            <ul class="list-unstyled">
                <li class="mb-20">
                    <button type="button" class="btn btn-block btn-warning">Sil</button>
                </li>
            </ul>
        </div>
    </div>

    <div class="col-sm-12 col-md-4 col-xl-2">
        <div class="example">
            <ul class="list-unstyled">
                <li class="mb-20">
                    <button type="button" class="btn btn-block btn-danger">Güncelle</button>
                </li>

            </ul>
        </div>
    </div>
</div>

<div id="wrapper-600">

    <ul class="accordion">

        <li id="one3" class="files">

            <a href="#one3">BLOK 1<span>45</span></a>

            <ul class="sub-menu">

                <li><a href="#"><em>01</em>RAF 1<span>32</span></a></li>

                <li><a href="#"><em>02</em>RAF 2<span>7</span></a></li>

                <li><a href="#"><em>03</em>RAF 3<span>6</span></a></li>

            </ul>

        </li>

        <li id="two3" class="mail">

            <a href="#two3">BLOK 2<span>39</span></a>

            <ul class="sub-menu">


                <li><a href="#"><em>01</em>RAF 1<span>35</span></a></li>

                <li><a href="#"><em>02</em>RAF 2<span>4</span></a></li>

                <li><a href="#"><em>03</em>RAF 3<span>2</span></a></li>

            </ul>

        </li>

        <li id="three3" class="cloud">

            <a href="#three3">BLOK 3<span>58</span></a>

            <ul class="sub-menu">

                <li><a href="#"><em>01</em>RAF 1<span>45</span></a></li>

                <li><a href="#"><em>02</em>RAF 2<span>7</span></a></li>

                <li><a href="#"><em>03</em>RAF 3<span>6</span></a></li>

            </ul>

        </li>

      

    </ul>

</div>

