
@{
    ViewData["Title"] = "DETER";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/accordionmenu.css" rel="stylesheet" />


<div class="row center">

    <div class="col-sm-12 col-md-4 col-xl-2">
        <div class="example">
            <ul class="list-unstyled">
                <li class="mb-20">
                    <button type="button" class="btn btn-block btn-info">Ekle</button>
                </li>
            </ul>
        </div>
    </div>

    <div class="col-sm-12 col-md-4 col-xl-2">
        <div class="example">
            <ul class="list-unstyled">
                <li class="mb-20">
                    <button type="button" class="btn btn-block btn-warning">Sil</button>
                </li>
            </ul>
        </div>
    </div>

    <div class="col-sm-12 col-md-4 col-xl-2">
        <div class="example">
            <ul class="list-unstyled">
                <li class="mb-20">
                    <button type="button" class="btn btn-block btn-danger">Güncelle</button>
                </li>

            </ul>
        </div>
    </div>
</div>

<div id="wrapper-600">

    <ul class="accordion">

        <li id="one3" class="files">

            <a href="#one3">Kategori<span>495</span></a>

            <ul class="sub-menu">

                <li><a href="#"><em>01</em>Alt Kategori<span>42</span></a></li>

                <li><a href="#"><em>02</em>Alt Kategori<span>87</span></a></li>

                <li><a href="#"><em>03</em>Alt Kategori<span>366</span></a></li>

            </ul>

        </li>

        <li id="two3" class="mail">

            <a href="#two3">Kategori<span>26</span></a>

            <ul class="sub-menu">

                <li><a href="#two3"><em>01</em>Alt Kategori<span>9</span></a></li>

                <li><a href="#two3"><em>02</em>Alt Kategori<span>14</span></a></li>

                <li><a href="#two3"><em>03</em>Alt Kategori<span>3</span></a></li>

            </ul>

        </li>

        <li id="three3" class="cloud">

            <a href="#three3">Kategori<span>58</span></a>

            <ul class="sub-menu">

                <li><a href="#three3"><em>01</em>Alt Kate<span>12</span></a></li>

                <li><a href="#three3"><em>02</em>Alt Kate<span>19</span></a></li>

                <li><a href="#three3"><em>03</em>Alt Kate<span>27</span></a></li>

            </ul>

        </li>

        <li id="four3" class="sign">

            <a href="#four3">Sign Out</a>

            <ul class="sub-menu">

                <li><a href="#four3"><em>01</em>Log Out</a></li>

                <li><a href="#four3"><em>02</em>Delete Account</a></li>

                <li><a href="#four3"><em>03</em>Freeze Account</a></li>

            </ul>

        </li>

    </ul>

</div>


