
@model UserRegistrationViewModel

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="bootstrap admin template">
    <meta name="author" content="">
    <title>CARGOLINE || ADMIN</title>
    <link rel="stylesheet" href="~/css/registration.css" />

</head>
<body>
    <div class="center">
        <h2 style=" text-align: center;  padding: 0 0 30px 0;  color: #2980b9;  border-bottom: 1px solid silver;">
            Şifreniz mailinize gönderilecektir!
        </h2>
        <form method="post">
            <div class="txt_field">
                <input type="text" required />
                <span></span>
                <label>Kullanıcı adı veya Email</label>
            </div>
            <input type="submit" value="Gönder" />
            <div class="signup_link"><a href="#">Geri Dön</a>
            </div>
        </form>
    </div>
</body>
</html>